<footer class="footer">
    <div class="provider-container">
        <h2>Ödeme Sağlayıcıları</h2>
        <div class="payment-providers">
            <img src="https://percas.s3.eu-west-2.amazonaws.com/cp/casinoper-payment-methods.png" alt="Ödeme Sağlayıcıları">
        </div>
        <h2>Oyun Sağlayıcıları</h2>
        <div class="game-providers">
            <img src="https://percas.s3.eu-west-2.amazonaws.com/cp/casinoper-providers.png" alt="Oyun Sağlayıcıları">
        </div>
    </div>
    <div class="footer-links">
        <div class="footer-column">
            <h3>Casinoper</h3>
            <ul>
                <li>Genel Kural ve Şartlar</li>
                <li>Sorumlu Oyunculuk</li>
                <li>Gizlilik Politakamiz</li>
                <li>VIP Club</li>
            </ul>
            <div class="language-switch">
                <img src="assets/Turkish.png" alt="Türkçe">
                <img src="assets/English.png" alt="İngilizce">
            </div>
        </div>
        <div class="footer-column">
            <h3>Kurallar</h3>
            <ul>
                <li>Bahis Kuralları</li>
                <li>Bahis Bozdur</li>
                <li>Bahis Kabul Edilmesi</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Yardım</h3>
            <ul>
                <li>Sıkça Sorulan Sorular</li>
                <li>Bahis Sözlüğü</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>İletişim</h3>
            <ul>
                <li>Bizimle İletişime Geçin</li>
                <li>Affiliate/Ortaklık Programı</li>
            </ul>
        </div>
    </div>
    <div class="license-info">
        <p>Casinoper.com Philippines Eğlence ve Oyun Sitesidir. Yabancı Ülke E-Oyun ve Spor Bahisleri için 22-0025 numaralı lisansa uygun yürütülmektedir.</p>
        <img src="https://verification.pagcor-regulatory.ph/api/validate/logo?domain=casinoper.com" alt="Pagcor">
    </div>
</footer>